.volver {
  background-color: #fff;
  color: #30c2e0;
  border: none;
  margin-bottom: 20px;
  ;
}

.volver:hover {
  background-color: rgba(235, 234, 234, 0.61);
  color: #30c2e0;
}


h1 {
  margin-top: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}


.textoDrop {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.drop{
  position: relative !important; 
  z-index: 10 !important;
}

.botones {
  margin-top: 2%;
}

.botonesPadding {
  margin: 0.3%;
}

.p-datatable .p-datatable-thead>tr>th {
  width: inherit !important;
}

.contenedor {
  width: 100%;
  display: flex;
  align-items: center;
}

.span {
  font-size: x-small;
  margin-left: 1%;
}

.centrar-imagen {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Para pantallas muy pequeñas */
@media only screen and (max-width: 480px) {
  .mi-tabla {
    max-height: 300px;
  }
}

/* Para pantallas pequeñas */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .mi-tabla {
    max-height: 100px;
  }
}

/* Para pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 823px) {
  .mi-tabla {
    max-height: 100px;
  }
}

/* Para pantallas medianas */
@media only screen and (min-width: 824) and (max-width: 1023px) {
  .mi-tabla {
    max-height: 100px;
  }
}

/* Para pantallas grandes */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .mi-tabla {
    max-height: 900px;
  }
}

/* Para pantallas muy grandes */
@media only screen and (min-width: 1280px) {
  .mi-tabla {
    max-height: 1100px;
  }
}


button {
  background-color: #0c82c5;
}

button:disabled{
  background: rgba(31, 31, 31, 0.12);
  color: #1C1B1F;
  border: none;
}

.responsiveButton {
  font-weight: bold;
}

@media (max-width: 768px) {

  /* Si el ancho de la pantalla es mayor o igual a 768px */
  .responsiveButton {
      display: none;
  }
}