<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class=" animate-fadeInDown">

  <div class="container">

    <h1>Términos y Condiciones de Uso</h1>

    <p>El presente documento establece el debido uso de la información que TRIPLE A S.A. E.S.P. (en adelante
      TRIPLE A publica en su página WEB (en adelante LA WEB) de manera gratuita y con el propósito de
      informar adecuada y oportunamente a sus grupos de interés.</p>
    <p>Es obligación del usuario de LA WEB (en adelante El USUARIO) leer los TÉRMINOS Y CONDICIONES DE USO
      antes de consultar la información y los servicios ofrecidos.</p>
    <p>TRIPLE A se reserva el derecho de cambiar o actualizar estos TÉRMINOS sin previo consentimiento.</p>
    <p>Estos TÉRMINOS Y CONDICIONES DE USO son aplicables a LA WEB de TRIPLE A pero no a los contenidos de
      terceros, en razón a que estos son publicados con el fin de generar valor agregado al El USUARIO y
      no son responsabilidad directa de TRIPLE A.</p>
    <p>Se entiende por contenidos todas las informaciones, mensajes, documentos, gráficos, dibujos, archivos
      de sonido o imagen, fotografías, banners, vínculos, software y en general cualquier clase de
      material accesible a través de LA WEB.</p>
    <p><strong>Uso de la información:&nbsp;</strong>EL USUARIO se obliga a usar los contenidos de forma
      correcta y lícita absteniéndose de:</p>
    <p>Utilizar los contenidos con fines y efectos contrarios a la Ley.</p>
    <p>Reproducir, copiar, distribuir, transformar o modificar los contenidos a menos que se cuente con la
      autorización expresa de TRIPLE A o la citación de&nbsp;la fuente en caso de
      reproducción.&nbsp;Emplear los contenidos de LA WEB con fines comerciales.</p>
    <p>Reproducir parcial o totalmente los contenidos y diseños de LA WEB con el fin de confundir a otros
      usuarios utilizando la identidad corporativa de TRIPLE A</p>
    <p><strong>Uso del software para el ingreso al portal de </strong>TRIPLE A<strong>:</strong></p>
    <p><strong>EL USUARIO se obliga a utilizar correctamente el software que le permite el acceso al portal
        (Por ejemplo el Browser) para lo cual se debe abstener de:</strong></p>
    <p>Intentar el acceso no autorizado a LA WEB en aquellos contenidos de carácter restringido mediante
      intrusión, obtención de contraseñas o medios no permitidos.</p>
    <p>Modificar y manipular los aplicativos disponibles en LA WEB.</p>
    <p><strong>Responsabilidad con el usuario:</strong></p>
    <p>TRIPLE A no garantiza la disponibilidad permanente de LA WEB por circunstancias ajenas a su control.
    </p>
    <p>En caso de mantenimiento programado que supere más de seis horas de no disponibilidad de LA WEB,
      TRIPLE A informará previamente a EL USUARIO de dicha actividad.</p>
    <p>TRIPLE A no garantiza la utilidad de LA WEB para la realización de alguna actividad específica ni su
      infalibilidad.</p>
    <p>La información proporcionada por TRIPLE A es de carácter referencial por lo tanto no compromete a
      TRIPLE A en las decisiones que toma EL USUARIO.</p>
    <p>La información obtenida a través de enlaces externos de LA WEB, no estará controlada por TRIPLE A y
      por lo tanto no se hace responsable de los contenidos ni de su actualización.</p>
    <p>Si EL USUARIO requiere reportar algún evento relacionado con la funcionalidad y seguridad del portal
      debe remitirlo al correo electrónico: <strong><a  class="enlace" href="mailto:cliente@aaa.com.co"
          role="link">cliente@aaa.com.co</a></strong></p>
  </div>
</body>

</html>