<div class="modal-background" (click)="close()"></div>
<div class="modal-container">
  <div class="titles">Etiquetas</div>
  <div class="card">
    <p-table
      [value]="labelsData"
      [(selection)]="selectedLabels"
      dataKey="code"
      [tableStyle]="{ 'min-width': '50rem' }"
      [scrollable]="true"
      scrollHeight="400px"
      [scrollable]="true"
      [paginator]="true"
      [rowsPerPageOptions]="[20, 50, 100]"
      [rows]="20"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" style="width: 4rem"></th>
          <th
            style="min-width: 450px !important; max-width: 450px !important"
            pSortableColumn="name"
            scope="col"
          >
            <div class="flex align-items-center">
              <div class="margin-filter">
                Etiqueta
                <p-sortIcon field="name"></p-sortIcon>
              </div>
              <p-columnFilter
                field="name"
                display="row"
                (click)="$event.stopPropagation()"
              ></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-labels>
        <tr>
          <td>
            <p-tableCheckbox [value]="labels"></p-tableCheckbox>
          </td>
          <td>{{ labels.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="container-button">
    <button
      pButton
      class="button secondary"
      severity="secondary"
      label="Cerrar"
      (click)="close()"
    ></button>
    <p-button class="button" (click)="onselecLabels()">Aceptar</p-button>
  </div>
</div>
