::ng-deep .p-button {
  background: var(--Principal-P200, #00278A);
  border: 1px var(--Principal-P200, #00278A);
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  display: flex;
  padding: 10px 24px;
  align-items: center;
  gap: 8px;
  
}

::ng-deep .p-button-label {
 
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  
 ::ng-deep .p-button-icon {
    color: var(--Primario-P50, #e6e9f3);
  } 

  ::ng-deep .p-column-filter-row p-columnfilterformelement {
    flex: 1 1 auto;
    width: max-content;
  }
  
  ::ng-deep .p-column-filter-row .p-column-filter-menu-button  {
    margin-left: unset;
  }
  
  ::ng-deep .p-column-filter-row .p-column-filter-clear-button {
    margin-left: unset;
  }
  ::ng-deep .p-card .p-card-content {
    padding: unset;
  }

  .margin-filter{
    margin-bottom: 10px;
    cursor: pointer !important;
  }

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10000;
   
}

.modal-content {
    text-align: center;
}

.card-title {
    color: var(--Principal-P200, #00278A);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttong {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;


    padding: 10px 24px;
    padding: 10px 24px;
    align-items: center;
    gap: 8px;
    background: var(--Principal-P200, #00278A);
}

.container-button {
    display: flex;
    align-self: center;
    justify-content: center;
}

.button {
  padding:0em 0.5em 0em;
  width: 109px;
}

.secondary {
  color: var(--Principal-P200, #00278a);
  background: #ffffff;
  border: 1px solid var(--Principal-P200, #00278a);
}

.titles {
   
  color: var(--Principal-P200, #00278A);
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0px;
  margin: 15px 10px;
}

