
.secondary{
  color: var(--Principal-P200, #00278A);
  background: #ffffff;
  border: 1px solid  var(--Principal-P200, #00278A);
}

.material-symbols-rounded {
  color: var(--Colores-Primario-0);
  font-size: 40px;
  font-weight: 900;
  line-height: 0;
}
