<div class="footer">

  <div class="column-60">

    <h3 style="margin-bottom: 1%;">Contáctanos </h3>

    <div class="">

      <div class="">

        <div style="display: flex; align-items: center;">
          <img src="../../../assets/img/icons/fontawesome/gps.png"
            style="height: 20px; width: 20px; margin-right: 5px;">
          <h4 style="margin-bottom: 0%;">Triple A S.A E.S.P</h4>
        </div>

        <div style="margin-left: 3%; margin-top: 0.5%;">

          <div class="ciw_contact_address"><a href="https://www.google.com/maps/@10.997665,-74.7965305,19.25z"
              target="blank" role="link">Carrera 58 No. 67 - 09, Barranquilla, Atlántico, CO</a><br>
            <span style="margin-top:20px !important;"><a href="/nuestras-oficinas/" role="link">Todas
                nuestras oficinas y horarios </a></span><br>
            <span style="margin-top:20px !important;"><a href="/contactenos/" role="link">Contáctenos</a></span>
          </div>

        </div>

      </div>

      <div style="display: flex; align-items: center; margin-top: 0.5%;">
        <img src="../../../assets/img/icons/fontawesome/celular.png"
          style="height: 20px; width: 20px; margin-right: 5px;">
        <h4 style="margin-bottom: 0%;">+57 605 385 03 76</h4>
      </div>


    </div>

  </div>


  <div class="column-40">

    <h3 style="margin-bottom: 1%;">Legales </h3>
    <p class="pointer" (click)="dataTreatment()">Tratamiento de datos</p>
    <p class="pointer" (click)="termsConditionsUse()">Términos y Condiciones de Uso</p>

  </div>

</div>