<div class="content">
  <p class="titulo1">Alerta de conjunto de datos regulatorios</p>
  <back-button-component></back-button-component>

  <p-card>
    <p-table
      [value]="regulatoryDatasets"
      [scrollable]="true"
      [tableStyle]="{ 'min-width': '40rem' }"
      styleClass="p-datatable-gridlines p-datatable-sm"
      [paginator]="true"
      [rowsPerPageOptions]="[15, 50, 100]"
      [rows]="15"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="min-width: 230px">
            Id conjunto de datos
            <p-sortIcon class="sortIcon" field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="nombre" style="min-width: 290px">
            Nombre del conjunto de datos
            <p-sortIcon field="nombre"></p-sortIcon>
          </th>
          <th pSortableColumn="maximaFechaRegulatoria" style="min-width: 250px">
            Máxima fecha regulatoria
            <p-sortIcon field="maximaFechaRegulatoria"></p-sortIcon>
          </th>
          <th pSortableColumn="fechaProximaEjecucion" style="min-width: 250px">
            Fecha próxima ejecución
            <p-sortIcon field="fechaProximaEjecucion"></p-sortIcon>
          </th>
          <th pSortableColumn="deltaInicialEjecutar" style="min-width: 250px">
            Delta Inicial regulatorio
            <p-sortIcon field="deltaInicialEjecutar"></p-sortIcon>
          </th>
          <th pSortableColumn="deltaFinalEjecutar" style="min-width: 230px">
            Delta final regulatorios
            <p-sortIcon field="deltaFinalEjecutar"></p-sortIcon>
          </th>
          <th pSortableColumn="diasHabilesFaltantes" style="min-width: 150px">
            Días faltantes
            <p-sortIcon field="diasHabilesFaltantes"></p-sortIcon>
          </th>
          <th style="min-width: 200px" alignFrozen="right" pFrozenColumn>
            ¿Estoy cumpliendo?
          </th>
        </tr>
        <tr>
          <th style="min-width: 230px">
            <p-columnFilter type="text" field="id"></p-columnFilter>
          </th>
          <th style="min-width: 290px">
            <p-columnFilter type="text" field="nombre"></p-columnFilter>
          </th>
          <th style="min-width: 250px">
            <p-columnFilter type="date" field="maximaFechaRegulatoria">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-calendar
                  (onSelect)="filter($event)"
                  appendTo="body"
                  dateFormat="yy-mm-dd"
                  [showButtonBar]="true"
                ></p-calendar>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="min-width: 250px">
            <p-columnFilter type="date" field="fechaProximaEjecucion">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-calendar
                  (onSelect)="filter($event)"
                  appendTo="body"
                  dateFormat="yy-mm-dd"
                  [showButtonBar]="true"
                ></p-calendar>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="min-width: 250px">
            <p-columnFilter type="date" field="deltaInicialEjecutar">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-calendar
                  (onSelect)="filter($event)"
                  appendTo="body"
                  dateFormat="yy-mm-dd"
                  [showButtonBar]="true"
                ></p-calendar>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="min-width: 230px">
            <p-columnFilter type="date" field="deltaFinalEjecutar">
              <ng-template pTemplate="filter" let-filter="filterCallback">
                <p-calendar
                  (onSelect)="filter($event)"
                  appendTo="body"
                  dateFormat="yy-mm-dd"
                  [showButtonBar]="true"
                ></p-calendar>
              </ng-template>
            </p-columnFilter>
          </th>
          <th style="min-width: 200px">
            <p-columnFilter
              type="text"
              field="diasHabilesFaltantes"
            ></p-columnFilter>
          </th>
          <th alignFrozen="right" pFrozenColumn style="min-width: 200px">
            <p-columnFilter type="text" field="estado"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-regulatoryDataset>
        <tr>
          <td>{{ regulatoryDataset.id }}</td>
          <td>{{ regulatoryDataset.nombre }}</td>
          <td class="center-column">
            {{ regulatoryDataset.maximaFechaRegulatoria | date : "yyyy-MM-dd" }}
          </td>
          <td class="center-column">
            {{
              regulatoryDataset.fechaProximaEjecucion
                | date : "yyyy-MM-dd hh:mm"
            }}
          </td>
          <td class="center-column">
            {{ regulatoryDataset.deltaInicialEjecutar | date : "yyyy-MM-dd" }}
          </td>
          <td class="center-column">
            {{ regulatoryDataset.deltaFinalEjecutar | date : "yyyy-MM-dd" }}
          </td>
          <td class="center-column">
            {{ regulatoryDataset.diasHabilesFaltantes }}
          </td>
          <td style="align-items: center" alignFrozen="right" pFrozenColumn>
            <span
              class="material-symbols-rounded check_circle"
              *ngIf="regulatoryDataset.estado == 'Cumplido'"
              >check_circle</span
            >
            <span
              class="material-symbols-rounded"
              *ngIf="regulatoryDataset.estado == 'Por Cumplir'"
              >flag</span
            >
            <span
              class="material-symbols-rounded custom-flag-icon"
              *ngIf="regulatoryDataset.estado == 'Cargado Incumplido'"
              >flag</span
            >
            <span
              class="material-symbols-rounded cancel"
              *ngIf="regulatoryDataset.estado == 'Incumplido'"
              >cancel</span
            >
            {{ regulatoryDataset.estado }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
