<p-toast></p-toast>

<gestion-conjuntos-datos-template
  [dataSets]="(dataSets | async) ?? []"
  [basicDataDataSet]="basicDataDataSet"
  [categories]="categories"
  [durationISO]="durationISO"
  [granularity]="granularity"
  [periodicity]="periodicity"
  [clasificationRegulatory]="clasificationRegulatory"
  [typeView]="typeView"
  [labels]="labels"
  [HasRecord]="HasRecord"
  [isLoadedbasicDataDataSet]="isLoadedbasicDataDataSet"
  [sourceColumns]="(sourceColumns$ | async) ?? []"
  [purposeColumn]="(purposeColumn$ | async) ?? []"
  [versionColumn]="(versionColumn$ | async) ?? []"
  [targetColumn]="(targetColumn$ | async) ?? []"
  [isLoadedTargetColumn]="isLoadedTargetColumn"
  [isLoadedPurposeColumn]="isLoadedPurposeColumn"
  (changeView)="handleChangeView($event)"
  (saveSourceColumns)="handleSaveSourceColumns($event)"
  (saveSourceColumnsVersionPurpose)="handlesaveSourceColumnsVersionPurpose($event)"
  (saveData)="handleSaveData($event)"
  (hasRecord)="handleHasRecord($event)"
  [extractionInformation]="(extractionInformation$ | async) ?? []"
  [extractionDataState]="extractionDataState$ | async"
  (updateExtractionInformation)="updateExtractionInformation($event)"
  (saveExtractionInformation)="saveExtractionInformation($event)"
  (deleteExtractionInformation)="deleteExtractionInformation($event)"
  (onExecutePipeline)="ExecutePipeline($event)"
  (onCancelPipeline)="CancelPipeline($event)"
  [executionData]="(executionData$ | async) ?? []"
  [executionDataState]="executionDataState$ | async"
  (updateExecutionInformation)="updateExecutionInformation($event)"
  (saveExecutionInformation)="saveExecutionInformation($event)"
  (deleteExecutionInformation)="deleteExecutionInformation($event)"
  [publicationData]="(publicationData$ | async) ?? []"
  [publicationDataState]="publicationDataState$ | async"
  (updatePublicationInformation)="updatePublicationInformation($event)"
  (savePublicationInformation)="savePublicationInformation($event)"
  (deletePublicationInformation)="deletePublicationInformation($event)"
>
</gestion-conjuntos-datos-template>
