::ng-deep .stepperHeader {
  background-color: white !important;
}

::ng-deep .p-highlight{
  border-bottom: 0 !important;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
  border-bottom: transparent !important;
  border: 2px solid #0C82C5;
}

.volver {
  background-color: #fff;
  color: #30c2e0;
  border: none;
  margin-bottom: 20px;
  margin-left: 3rem;
}

.volver:hover {
  background-color: rgba(235, 234, 234, 0.61);
  color: #30c2e0;
}

.component {
  margin-inline: 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .quorum {
    background: #0C82C5;
    border-radius: 100px;
    padding: 10px 16px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
  }

  .detalle {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 24px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 20px;

    form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 35px;
      column-gap: 20px;

      @media(max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }

      div {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .descripcion {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      .actions {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        padding: 10px;
        justify-content: flex-end;

        button:nth-child(1) {
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.1px;
          color: #0C82C5;
        }

        button:nth-child(2) {
          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          white-space: nowrap;

          /* Secundario/300 */

          color: #0C82C5;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 24px;
          gap: 10px;
          border: 1px solid #0C82C5;
          border-radius: 100px;
        }

        button:nth-child(3) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 24px;
          gap: 10px;

          /* Secundario/300 */

          background: #0C82C5;
          border-radius: 100px;

          font-family: 'Arial';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 143% */

          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.1px;

          /* M3/sys/light/on-primary */

          color: #FFFFFF;
        }
      }
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    button {
      background: #0C82C5;
      border-radius: 100px;
      padding: 10px 16px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-bottom: 20px;
    }

    button:disabled {
      background: rgba(31, 31, 31, 0.12);
      color: #1C1B1F;
    }
  }

  .stepper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .stepperHeader {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      padding: 24px 0 24px;
      background-color: #f8f9fa;
    }


  }
}
