<mat-progress-bar mode="indeterminate" *ngIf="!loadings"></mat-progress-bar>

<div class="px-5 text-center-test animate-fadeIn pt-20" *ngIf="!loadings">
  <div class="field col-12 md:col-6">
    <p-skeleton width="15rem" styleClass="mb-9" class="px-5" height="2rem" borderRadius="16px"></p-skeleton>
    <div class="grid gap-4 p-fluid px-8">
      <div class="w-full px-8">
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8 pb-4">
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8 pb-4">
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8 pb-4">
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8">
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
          <div class="w-full flex flex-wrap flex-col pb-3">
            <p-skeleton height="4rem" borderRadius="16px"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-5 text-center-test animate-fadeIn" *ngIf="loadings">
  <div>
    <button pButton type="button" icon="pi pi-arrow-left" (click)="goBack()" label="Cerrar" class="volver"></button>
  </div>

  <form class="mt-8 space-y-6" [formGroup]="form">
    <div class="card shadow ax-w-full border-b border-l border-slate-300 pb-5">
      <div class="mb-11 pt-8 pl-12">
        <h1>{{task}} de Embargo</h1>
      </div>

      <div class="grid gap-4 p-fluid px-8">
        <div class="w-full px-8">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8 pb-4">
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full">
                  <p-dropdown [options]="titles" [(ngModel)]="selectedTitles" formControlName="selectedTitles"
                    name="selectedTitles" optionLabel="CONSECUTIVO" [filter]="true" filterBy="CONSECUTIVO" [showClear]="true"
                    placeholder="Titulo" [virtualScroll]="true" [virtualScrollItemSize]="38"
                    emptyMessage="Cargando los datos...">
                    <ng-template pTemplate="selectedItem">
                      <div class="" *ngIf="selectedTitles">
                        <div>{{selectedTitles.TIPO_ACCIONISTA}} {{selectedTitles.CONSECUTIVO}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-titles pTemplate="item">
                      <div class="">
                        <div>{{titles.TIPO_ACCIONISTA }} {{titles.CONSECUTIVO}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Campo obligatorio" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('selectedTitles').invalid && (form.get('selectedTitles').dirty || form.get('selectedTitles').touched)">
                <div *ngIf="form.get('selectedTitles').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full">
                  <p-dropdown [options]="typeSource" [(ngModel)]="selectedTypeSource" formControlName="selectedTypeSource"
                    name="selectedTypeSource" optionLabel="DESCRIPCION" [filter]="true" filterBy="DESCRIPCION"
                    [showClear]="true" placeholder="Tipo de procedencia" [virtualScroll]="true" [virtualScrollItemSize]="38"
                    emptyMessage="Cargando los datos...">
                    <ng-template pTemplate="selectedItem">
                      <div class="" *ngIf="selectedTypeSource">
                        <div>{{selectedTypeSource.DESCRIPCION}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-typeSource pTemplate="item">
                      <div class="">
                        <div>{{typeSource.DESCRIPCION }}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Campo obligatorio" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('selectedTypeSource').invalid && (form.get('selectedTypeSource').dirty || form.get('selectedTypeSource').touched)">
                <div *ngIf="form.get('selectedTypeSource').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-calendar [(ngModel)]="fechaInicio" formControlName="fechaInicio" dateFormat="dd-mm-yy"
                  [maxDate]="maxDate" inputId="fechaInicio"></p-calendar>
                  <label for="fechaInicio">Fecha de inicio del embargo</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Fecha de inicio del embargo" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('fechaInicio').invalid && (form.get('fechaInicio').dirty || form.get('fechaInicio').touched)">
                <div *ngIf="form.get('fechaInicio').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-calendar [(ngModel)]="fechaVencimiento" formControlName="fechaVencimiento" dateFormat="dd-mm-yy"
                  inputId="fechaVencimiento"></p-calendar>
                  <label for="fechaVencimiento">Fecha de vencimiento del embargo</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Fecha de vencimiento del embargo" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('fechaVencimiento').invalid && (form.get('fechaVencimiento').dirty || form.get('fechaVencimiento').touched)">
                <div *ngIf="form.get('fechaVencimiento').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8 pb-4">
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <input formControlName="tipo_auto" name="tipo_auto" type="text" pInputText>
                  <label for="tipo_auto">Tipo auto</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Tipo auto" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-inputNumber inputId="integeronly" name="identificacionDemandante" type="number"
                  formControlName="identificacionDemandante"></p-inputNumber>
                  <label for="identificacionDemandante">Identificación demandante</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Identificación demandante" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('identificacionDemandante').invalid && (form.get('identificacionDemandante').dirty || form.get('identificacionDemandante').touched)">
                <div *ngIf="form.get('identificacionDemandante').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <input formControlName="nombre_demandante" name="nombre_demandante" type="text" pInputText>
                  <label for="nombre_demandante">Nombre demandante</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Nombre demandante" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-inputNumber inputId="integeronly" name="valor_embargo" type="number"
                  formControlName="valor_embargo"></p-inputNumber>
                  <label for="valor_embargo">Valor embargo</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Valor embargo" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('valor_embargo').invalid && (form.get('valor_embargo').dirty || form.get('valor_embargo').touched)">
                <div *ngIf="form.get('valor_embargo').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8 pb-4">
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-inputNumber inputId="integeronly" name="valor_dividendo" type="number"
                  formControlName="valor_dividendo"></p-inputNumber>
                  <label for="valor_dividendo">Valor dividendo</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Valor dividendo" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('valor_dividendo').invalid && (form.get('valor_dividendo').dirty || form.get('valor_dividendo').touched)">
                <div *ngIf="form.get('valor_dividendo').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-inputNumber inputId="integeronly" name="otro_valor" type="number"
                  formControlName="otro_valor"></p-inputNumber>
                  <label for="otro_valor">Otro valor</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Otro valor" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('otro_valor').invalid && (form.get('otro_valor').dirty || form.get('otro_valor').touched)">
                <div *ngIf="form.get('otro_valor').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <input formControlName="juzgado" name="juzgado" type="text" pInputText>
                  <label for="juzgado">Juzgado</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Juzgado" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <input formControlName="bien_embargado" name="bien_embargado" type="text" pInputText>
                  <label for="bien_embargado">Bien embargado</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Bien embargado" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 px-8">
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <p-inputNumber inputId="integeronly" name="identificacion_beneficiario" type="number"
                  formControlName="identificacion_beneficiario"></p-inputNumber>
                  <label for="identificacion_beneficiario">Identificación beneficiario</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Identificación beneficiario" tooltipPosition="top"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('identificacion_beneficiario').invalid && (form.get('identificacion_beneficiario').dirty || form.get('identificacion_beneficiario').touched)">
                <div *ngIf="form.get('identificacion_beneficiario').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
            <div class="w-full flex flex-wrap flex-col pb-3">
              <div class="flex items-center gap-3">
                <span class="w-full p-float-label">
                  <input formControlName="observacion" name="observacion" type="text" pInputText>
                  <label for="observacion">Observación</label>
                </span>
                <div>
                  <em class="fa-sharp fa-solid fa-circle-info fa-lg" pTooltip="Observación" tooltipPosition="left"
                    style="color: #0c82c5;"></em>
                </div>
              </div>
              <div class="mb-4"
                *ngIf="form.get('observacion').invalid && (form.get('observacion').dirty || form.get('observacion').touched)">
                <div *ngIf="form.get('observacion').errors.required" style="color: #0c82c5; height: 1px; width: 100%;"
                  class="animate-fadeInDown">
                  <p>Este campo es obligatorio.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-divider class="flex px-8"></p-divider>

      <div class="card flex justify-content-center gap-2">
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      </div>

      <div class="flex justify-end pt-3 px-8">
        <button pButton (click)="addSeizure()" label="Guardar"
          class="p-button-rounded botonesPadding p-button-sm"></button>
      </div>
    </div>

  </form>
</div>
