<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class=" animate-fadeInDown">

  <div class="container">

    <h1>Aviso de Privacidad</h1>
    
    <p>La Sociedad de Acueducto, Alcantarillado y Aseo de Barranquilla S. A. ESP, en adelante Triple A, en cumplimiento
      de la Ley 1581 de 2012 y demás normas concordantes, es responsable del tratamiento de sus datos personales.</p>
    <p>Los datos de las personas naturales y de personas jurídicas, incluidos los de sus representantes legales,
      capturados o recolectados mediante formularios físicos o electrónicos, serán almacenados, usados, procesados,
      suprimidos, transmitidos y/o transferidos por Triple A para las finalidades que se determinan a continuación:
    </p>
    <ul>
      <li>Para la prestación de los servicios públicos domiciliarios de Acueducto, Alcantarillado y Aseo, sin
        perjuicio de otros servicios públicos y/o actividades conexas y complementarias a estos.</li>
      <li>Para el cumplimiento de las obligaciones y/o compromisos derivados de las relaciones, contractuales o no,
        existentes con sus grupos de interés.</li>
      <li>Para el cumplimiento de las obligaciones legales que involucren datos personales de sus grupos de interés.
      </li>
      <li>Para la gestión comercial y relacionamiento con sus grupos de interés.</li>
      <li>Para comunicar a sus grupos de interés información sobre sus servicios, bienes, publicaciones, eventos de
        capacitación, actividades y comunicaciones comerciales asociada a su actividad empresarial, sea que se
        realice de manera directa o no.</li>
      <li>Para desplegar hacia sus grupos de interés actividades de responsabilidad social empresarial.</li>
      <li>Para gestionar la seguridad de las personas, bienes y activos de información en custodia de la organización.
      </li>
      <li>Para ofrecer productos y servicios financieros de nuestros aliados estratégicos y comerciales, a través de
        su facturación o por otros medios, las cuales pueden ser prestadas directamente o con el apoyo de terceros
        con quienes se compartirá la información del titular, en virtud de la relación comercial establecida, como
        las sociedades o personas en las que se apoyen para la prestación de sus servicios.</li>
      <li>Para ofrecer productos, servicios y actividades de publicidad, mercadeo, promoción y comercialización, de
        nuestros aliados estratégicos y comerciales, los cuales pueden ser prestados directamente o con el apoyo de
        terceros con quienes se compartirá la información del titular, en virtud de la relación comercial
        establecida, como las sociedades o personas en las que se apoyen para la prestación de sus servicios.</li>
      <li>Confrontar y reportar su información personal en bases de datos públicas, centrales y sistemas de prevención
        de riesgo, compañías especializadas, referencias y contactos en aras de realizar actividades de confirmación
        para prestar de manera adecuada los servicios públicos domiciliarios ofrecidos por Triple A y demás
        servicios complementarios.</li>
      <li>Demás finalidades descritas en nuestra Política de tratamiento de datos personales</li>
    </ul>
    <p>Como titular de información tiene derecho a conocer, actualizar y rectificar sus datos personales y, sólo en los
      casos en que sea procedente, a suprimirlos o revocar la autorización otorgada para su tratamiento.</p>
    <p>Si requiere mayor información para conocer nuestra Política de Tratamiento de Datos personales,&nbsp;<a class="enlace"
        href="https://www.aaa.com.co/wp-content/uploads/2023/07/POLITICA%20DE%20TRATAMIENTO%20DE%20DATOS%20PERSONALES.pdf"
        role="link" target="_blank"><u>consulte aquí</u></a></p>
    <p>Si desea presentar una consulta, reclamo o petición de información relacionada con la protección de datos
      personales podrá hacerlo a través del correo electrónico: <a class="enlace" href="mailto:habeasdata@aaa.com.co"
        role="link">habeasdata@aaa.com.co</a>&nbsp; o dirigiendo una comunicación a HABEAS DATA TRIPLE A en la
      siguiente dirección física: Calle 63B con Carrera 36 Esquina en la ciudad de Barranquilla, Colombia.</p>
    <p class="x_MsoNormal">Este aviso fue aprobado por la Gerencia General de TRIPLE A el día 10 de mayo de 2023</p>
  </div>
</body>

</html>