.tituloH2 {
  color: var(--Colores-Primario-0);
  text-align: center;
  /* Título/H2 */
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
